root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{sln,cs}]
charset = utf-8-bom

[*.cs]
indent_style = tab
indent_size = 4
csharp_indent_case_contents_when_block = false

[*.{xml,csproj}]
indent_style = space
indent_size = 2
